{% extends 'blog/layout.html' %}
{% block head %}
{{ block.super }}
<style>

.btn.btn {
  font-size: 18px;
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 1s;
  border: 1px solid purple;
  background-color:  #452c63;
  color: white;
}

.btn.btn:hover {
  background: #452c63;
}
.btn.btn-warning:hover {
  background-color: purple; 
}

.btn.btn-danger:hover {
  background-color: purple;
}
</style>
{% endblock %}
{% block body %}
<div class="content">
  <input
    class="btn btn"
    type="button"
    value="Retour"
    onClick="javascript:history.go(-1);"
  />
  <br>
  <h1 style="color:#fff;text-align:center;font-weight:bold">
    Liste des Produits
  </h1>
<br>
  <div class="title text-right">
    <a class="btn btn mt-2 mb-3"
      href="{% url 'new_article' %}"
      role="button"
      >Ajouter</a>
  </div>
<br>

  <div class="display component text-center">
    <!-- Article -->
    <table class="table article">
      <thead>
        <tr>
          <th style="color: #DDA0DD" scope="col">Code-barre</th>
          <th style="color: #DDA0DD" scope="col">Nom</th>
          <th style="color: #DDA0DD" scope="col">Prix</th>
          <th style="color: #DDA0DD" scope="col">Quantité</th>
          <th style="color: #DDA0DD" scope="col">Fournisseur</th>
          <th style="color: #DDA0DD" scope="col">Date d'ajout</th>
          <th style="color: #DDA0DD" cope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for article in listarticle %}
        <tr class="{{ article.id }}">
          <td style="color: #fff">{{ article.barcode }}</td>
          <td style="color: #fff">{{ article.name }}</td>
          <td style="color: #fff">{{ article.price }}</td>
          <td style="color: #fff">{{ article.quantite }}</td>
          <td style="color: #fff">{{ article.provider }}</td>
          <td style="color: #fff">{{ article.date_added }}</td>
          <td>
            <a
              href="{% url 'edit_article' article.id %}"
              class="btn btn-warning"
              >Modifier</a
            >
            <a
              href="{% url 'delete_article' article.barcode %}"
              class="btn btn-danger"
              >Supprimer</a
            >
          </td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
